# Exercise 2

Related Notes:
- Chapter_01_Data_Types
- Chapter_02_Programming_Constructs

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/njc-cz2-2021/Materials/blob/main/Exercises/Exercise-02-Programming_Constructs.ipynb)

# Exercise 2.1 Unit Converter

Write a program that helps the user to convert a given quantity from one unit of (distance, area or volume) measurement to another.

The problem:
-	Request a quantity from the user.
-	Have the user specify if the quantity is a `length`, `area` or `volume`.
-	Have the user select the base unit of measurement from the following list:
    - `mm`,
    - `cm`,
    - `m`, or
    - `km`.
-	Then have the user select the desired base unit of measurement that the given quantity should be converted to.
-	Print out converted quantity (including the new unit of measurement).

Example interaction:

>``` text
>Input a quantity: 10
>Select either length, area or volume: area
>Select the base unit of measurement (mm, cm, m, km) : m
>Select which base unit of measurement to convert to (mm, cm, m, km) : cm
>10 m^2 = 100000 cm^2
>```

In [8]:
quantity = float(input("Input a quantity: "))
dimension = input("Select either length, area or volume: ").lower()
dimension_no = {"length": 1, "area": 2, "volume": 3}[dimension]
base_unit = input("Select the base unit of measurement (mm, cm, m, km): ").lower()
next_unit = input("Select which base unit of measurement to convert to (mm, cm, m, km): ").lower()
unit_multiplier = {"mm": 0.001, "cm": 0.01, "m": 1, "km": 1000}
result = quantity * (unit_multiplier[base_unit] / unit_multiplier[next_unit]) ** dimension_no
print(f"{quantity}{base_unit}^{dimension_no} = {result}{next_unit}^{dimension_no}")

Input a quantity: 1213
Select either length, area or volume: area
Select the base unit of measurement (mm, cm, m, km): mm
Select which base unit of measurement to convert to (mm, cm, m, km): cm
1213.0mm^2 = 12.130000000000003cm^2

# Exercise 2.2

In mathematics, an **arithmetic sequence** is a sequence of real numbers
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$, called the **common difference** and $n\geq 1$.

For example, the sequence $2,5,8,11,14,\dots$ is an arithmetic sequence with first term $2$ and common difference $3$.

Write a program to generate the first $n$ terms of an arithmetic sequence with a user defined first term $a$ and common difference $d$.

The problem:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the sequence up to the $n$th term.

Example interaction:

>``` text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the number of terms:
>5
>The first 5 terms of the arithmetic sequence are:
>2
>5
>8
>11
>14
>```

In [15]:
Barbara = int(input("Please input the first term in the arithmetic sequence:\n"))
Jacob = int(input("Please input the common difference:\n")) + 1
Alison = int(input("Please input the number of terms:\n"))
Gerald = [Alabama*Jacob+Barbara for Alabama in range(Alison)]
for i in Gerald:
  print(i)

Please input the first term in the arithmetic sequence:
a

ValueError: invalid literal for int() with base 10: 'a'

# Exercise 2.3

Given an arithmetic sequence with first term $a$ and common difference $d$.

Write a program that:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input from the user for the index for the term in the sequence.  Let us denote this input as `n`.
- Print out the $n$th term in the sequence.
- Print out the sum of the first $n$ terms in the sequence.

Example interaction:

>```text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the index :
>5
>The 5th term in the sequence is:
>14
>The sum of the first 5 terms in the sequence is:
>40
>```

In [17]:
Barbara = int(input("Please input the first term in the arithmetic sequence:\n"))
Jacob = int(input("Please input the common difference:\n")) + 1
Alison = int(input("Please input the index:\n"))
Gerald = [Alabama*Jacob+Barbara for Alabama in range(Alison)]
print(f"The no.{Alison} term in the sequence is:\n{Gerald[-1]}\nThe sum of the first {Alison} terms in the sequence is:\n{sum(Gerald)}")

Please input the first term in the arithmetic sequence:
45
Please input the common difference:
456
Please input the index:
234234
The no.234234 term in the sequence is:
107044526
The sum of the first 234234 terms in the sequence is:
12536739021807

# Exercise 2.4

An arithmetic sequence $u_1, u_2, u_3, \cdots$ is defined by $u_r=3r-1$ for $r\in \mathbb{Z}^{+}$. Find the least value of $n$ such that $u_3+u_6+u_9+\cdots+u_n$ exceeds $1700$, where $n$ is a multiple of 3.

In [20]:
sum = 0
count = 0
while sum < 1700 or count % 3 != 0:
  count += 1
  sum += 3 * count - 1
print(count)

36

# Exercise 2.5 2012/GCE A-Level/P2/Q4(i) H2 Mathematics

On 1 January 2001 Mrs $A$ put \$100 into a bank account, and on the first day of each subsequent month she put in \$10 more than in the previous month. Thus on 1 February she put \$110 into the account and on 1 March she put \$120 into the account, and so on. The account pays no interest.

On what date did the value of Mrs $A$'s account first become greater than $5000?

In [22]:
month = -1
accountValue = 0
while accountValue <= 5000:
  month += 1
  accountValue += 100 + 10 * month
year = month // 12 + 2001
month = month % 12
print(f"the date is 1/{month}/{year}")

the date is 1/11/2002

## Exercise 2.6 Power

Write a program that prints out the first $m$ numbers that can be written as a positive integer taken to the power $n$.

Example interaction:

>``` text
>Input the number of terms, m: 5
>Input the n-th power: 3
>1
>8
>27
>64
>125
>```

In [25]:
noTerms = int(input("Input the number of terms, m: "))
power = int(input("Input the n-th power: "))
for i in [banana ** power for banana in range(noTerms)]:
  print(i)

Input the number of terms, m: 23
Input the n-th power: 6
0
1
64
729
4096
15625
46656
117649
262144
531441
1000000
1771561
2985984
4826809
7529536
11390625
16777216
24137569
34012224
47045881
64000000
85766121
113379904

## Exercise 2.7 Guess The Secret Number

Write a program that stores a secret integer in a variable. The user has to guess the secret integer, the program should loop until they get it right.

The problem:
-   Decide on a secret integer between 1 and 100 inclusive yourself.
-	Request an integer from the user.
-	if the user inputted a value that is too high, print 'Your number is too high. Try again.' and the program loops
-   if the user inputted a value that is too low, print 'Your number is too low. Try again.' and the program loops
-   if the user inputted a value that is the same as the secret integer, print 'Congratulations. You guessed correctly.' and the program ends.

Example interaction:

>``` text
>#Secret number is 31
>Input a quantity: 37
>Your number is too high. Try again.
>Input a quantity: 25
>Your number is too low. Try again.
>Input a quantity: 31
>Congratulations. You guessed correctly.
>```

In [28]:
import random
secret = random.randint(1,100)
print(type(secret))
while True:
  guess = int(input("Input a quantity: "))
  if guess == secret:
    print("Congratulations. You guessed correctly.")
    break
  elif guess < secret:
    print("Your number is too low. Try again.")
  elif guess > secret:
    print("Your number is too high. Try again.")

<class 'int'>
Input a quantity: 50
Your number is too high. Try again.
Input a quantity: 25
Your number is too high. Try again.
Input a quantity: 11
Your number is too low. Try again.
Input a quantity: 16
Your number is too low. Try again.
Input a quantity: 20
Your number is too high. Try again.
Input a quantity: 18
Your number is too low. Try again.
Input a quantity: 19

## Exercise 2.8

In mathematics, a **geometric sequence** is a sequence of real numbers
$$u_1,u_2,\cdots, u_n$$
such that the ratio between two consecutive terms is constant, i.e. $\frac{u_{n+1}}{u_n}=r$ for some constant $r\in \mathbb{R}\backslash \{0,1\}$, called the **common ratio** and $n\geq 1$.

For example, the sequence $2,6,18,54,162,\dots$ is an geometric sequence with first term $2$ and common ratio $3$.

Write a program to generate the first $n$ terms of an geometric sequence with a user defined first term $a$ and common ratio $r$.

The problem:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_ratio`.
- Request an integer input from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the sequence up to the $n$th term.

Example interaction:

>```text
>Please input the first term in the geometric sequence:
>2
>Please input the common ratio:
>3
>Please input the number of terms:
>5
>The first 5 terms of the geometric sequence are:
>2
>6
>18
>54
>162
>```

In [ ]:
#YOUR CODE HERE

## Exercise 2.9

Given a geometric sequence with first term $a$ and common ratio $r$.

Write a program that:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_ratio`.
- Request an integer input from the user for the index for the term in the sequence.  Let us denote this input as `n`.
- Print out the $n$th term in the sequence.
- Print out the sum of the first $n$ terms in the sequence.

Example interaction:

>```text
>Please input the first term in the geometric sequence:
>2
>Please input the common ratio:
>3
>Please input the index :
>5
>The 5th term in the sequence is:
>162
>The sum of the first 5 terms in the sequence is:
>242
>```

In [ ]:
#YOUR CODE HERE

## Exercise 2.10

Given a geometric sequence with first term $1$ and common ratio $r$. Find the sum of the first 100 terms of the sequence if:
- $r=2$
- $r=\frac{1}{2}$
- $r=-3$
- $r=-\frac{5}{6}$
- $r=4.1$
- $r=0.7$

What can you conclude about the relationship between the common ratio of the geometric sequence with the sum of the first $n$ terms of the geometric sequence as $n$ grows larger and larger? i.e., as $n\rightarrow \infty$. You might want to try with more values of $r$.

In [ ]:
#YOUR CODE HERE

## Exercise 2.11 2019/NJC Tutorial/APGP/QB8 H2 Mathematics (Modified)

An athlete is considering two plans for a training program.

Plan I: Run 2000 m on day 1, 2400 m on day 2, and on each successive day increase the distance run by 400 m.

Plan II: Run 2000 m on day 1, 2200 m on day 2, and on each successive day multiply the distance run by a constant factor $\frac{11}{10}$.

- **(a)** For Plan I, find the least value of $n$ for which the total distance run on days 1 to $n$, inclusive, exceeds 200 000 m.

- **(b)** For Plan II, find the least value of N for which the distance run on day $N$ exceeds 16 000.

- **(c)** Assume that athlete $A$ decided to go with Plan I and another athlete $B$ decided to with Plan II, when will athlete $B$'s total distance run first exceeds athlete $A$'s total distance run?

In [ ]:
#YOUR CODE HERE