# Exercise 3

Related Notes:
- Chapter_02_Programming_Constructs
- Chapter_03_Data_Structures

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ffgtfgh53/Computing_Materials/blob/main/Exercises/Exercise_03_Data_Structures.ipynb)

## Exercise 3.1 Dude, What's my Index?

Consider the following list

``` python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 0, 2, 8, 8]
```

Write a program that print out:
- the indices of occurence of each digit (0-9) in the list, and
- its number of occurences in the list
in the following format.

>``` text
> <DIGIT> <LIST_OF_INDICES> <NO_OF_OCCURENCES>
>```

Example Output:

>``` text
> Digit 0 : [32] : 1
>```

Try your program again with the following list.

``` python
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]
```

In [ ]:
ex1_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5, 8, 9, 7, 9, 3, 2, 3, 8, 4, 6, 2, 6, 4, 3, 3, 8, 3, 2, 7, 9, 5, 2, 8, 8]
global_indice_list = []
for i in range(10):
  indice_occurence = 0
  local_indice_list =[]
  while True:
    try:
      indice_occurence = ex1_list.index(i,indice_occurence+1)
      local_indice_list.append(indice_occurence)
    except:
      break
  global_indice_list.append(local_indice_list)
for i, indice_list in enumerate(global_indice_list):
  print(f"Digit {i} : {str(indice_list) : <25} : {len(indice_list)}")

Digit 0 : []                        : 0
Digit 1 : [1, 3]                    : 2
Digit 2 : [6, 16, 21, 28, 32]       : 5
Digit 3 : [9, 15, 17, 24, 25, 27]   : 6
Digit 4 : [2, 19, 23]               : 3
Digit 5 : [4, 8, 10, 31]            : 4
Digit 6 : [7, 20, 22]               : 3
Digit 7 : [13, 29]                  : 2
Digit 8 : [11, 18, 26, 33, 34]      : 5
Digit 9 : [5, 12, 14, 30]           : 4

## Exercise 3.2 Some Heights Statistics

Write a program that:
- ask user to input the heights value (in centimeter) of $n$ students. The entered values are integer.
- store the input values in list and print the list out
- display the lowest, highest and mean of the height of these $n$ students. In case you have forgotten, mean is the arithmetic average.  

Example Output:

>``` text
>Number of heights to be entered: 4
>100
>120
>110
>130
>The list of heights: [100,120,110,130]
>Minimum height is 100 cm, maximum height is 130 cm and the average height is 115.0 cm.
>```

In [ ]:
GoGoPowerRangers = int(input("Number of heights to be entered (in cm): "))
height_list =[]
for i in range(GoGoPowerRangers):
  height_list.append(int(input()))
print(f"The list of heights: {height_list}\nMinimum height is {min(height_list)} cm, maximum height is {max(height_list)} cm and the average height is {sum(height_list)/len(height_list)} cm.")

Number of heights to be entered (in cm): 5
132
178
167
199
99
The list of heights: [132, 178, 167, 199, 99]
Minimum height is 99 cm, maximum height is 199 cm and the average height is 155.0 cm.

## Exercise 3.3 Binning

In a school the grades obtained by a student in a certain subject depends on their mark, ranging from 0 to 100, obtained for the subject and it follows the following table.

<center>

| Marks ($m$)| Grade |
|-------|-------|
|   $m<40$    |    U     |
|   $40\leq m\leq 44$     |    S     |
|   $45\leq m\leq 49$    |    E     |
|   $50\leq m\leq 54$    |    D     |
|   $55\leq m\leq 59$    |    C     |
|   $60\leq m\leq 69$    | B     |
|   $m\geq 70$    |    A     |

</center>

Following are the list of marks obtained by students from 2 different classes. `mark_1` is a list from one class and `mark_2` is a list from the other class.

``` python
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2 = [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]
```

Write a program that:
- print outs the list of the students in each grade group for each of the classes in an *descending order* in the following format
>``` text
><GRADE> <LIST OF DESCENDING MARKS> <NO OF STUDENTS IN THE LIST>
>```
- if there are no students receiving such grade, print the empty list `[]`.

Example Output:
>``` text
>#Assume the marks are stored in the list [39, 45, 66, 68, 75]
>U: [39] 1
>S: [] 0
>E: [45] 1
>D: [] 0
>C: [] 0
>B: [68, 66] 2
>A: [75] 1
>```

In [ ]:
#mark values
mark_1 = [46, 41, 74, 53, 31, 39, 49, 57, 76, 80, 78, 38, 31, 56, 98, 55, 41, 73, 23, 88, 55, 60, 33, 40]
mark_2 = [69, 48, 50, 95, 87, 11, 28, 36, 25, 70, 25, 54, 33, 42, 27, 24, 44, 20, 61, 43, 30, 44, 7, 21]


def get_grade(mark):
    if mark >= 70:
        return 'A'
    if mark >= 60:
        return 'B'
    if mark >= 55:
        return 'C'
    if mark >= 50:
        return 'D'
    if mark >= 45:
        return 'E'
    if mark >= 40:
        return 'S'
    if mark >= 0:
        return 'U'
    return 'Invalid'

#returns a dict of entire class by grade        
def get_dict(given_list):
  output_dict = {'A': [], 'B': [], 'C': [], 'D': [], 'E': [], 'S': [], 'U': [], 'Invalid': []}
  for i in given_list:
      output_dict[get_grade(i)].append(i) #appends each mark to respective list in dict
  return output_dict
    
def print_grade_groups(mark_list):
    for grade, list_of_marks in get_dict(mark_list).items(): #printing each grade in newline
        print(f"{grade : >7}: {str(list_of_marks) : <50}: {len(list_of_marks)}") 
        #formats grade to be 7 char long, list to be 50 char long

#output
print("      For class A:")
print_grade_groups(mark_1)
print('\n\n')
print("      For class B:")
print_grade_groups(mark_2)

      For class A:
      A: [74, 76, 80, 78, 98, 73, 88]                      : 7
      B: [60]                                              : 1
      C: [57, 56, 55, 55]                                  : 4
      D: [53]                                              : 1
      E: [46, 49]                                          : 2
      S: [41, 41, 40]                                      : 3
      U: [31, 39, 38, 31, 23, 33]                          : 6
Invalid: []                                                : 0



      For class B:
      A: [95, 87, 70]                                      : 3
      B: [69, 61]                                          : 2
      C: []                                                : 0
      D: [50, 54]                                          : 2
      E: [48]                                              : 1
      S: [42, 44, 43, 44]                                  : 4
      U: [11, 28, 36, 25, 25, 33, 27, 24, 20, 30, 7, 21]   : 12
Invalid: []                                                : 0

In [ ]:
## Exercise 3.4 A Funny Interest

Mr. $B$ was offered an investment opportunity with a company where if he was to invest $1000$, he was guaranteed a $100%$ yearly interest rate, i.e. Mr. $B$ will be receive $2000$ after 1 year, inclusive of his capital.  

A friend of his that work in the company offers him another deal: same capital $1000$, same yearly interest rate of $100%$ but applied quarterly for a year, meaning every 3 months, the applied interest rate to the current amount is $\frac{100}{4}\%=25\%$. So, after 3rd month, his investment becomes \$1250$. After 6th month, it's \$1562.50. After 9th month, it's \$1953.13.
Under this scheme, how much would Mr. $B$'s investment worth after a full year?

Suppose that instead of applying the interest rate of 100% quarterly, a human error caused the interest rate to be applied *hourly* instead, for a full year. How much value will Mr. $B$'s investment worth then?

In [ ]:
#isnt this basically how you get e
#(1+1/n)^n
print(1000 * (1+1/(365*24)) ** (365*24))
#ITS LITERALLY AN APPROX. OF 1000*e

2718.1266916179075

## Exercise 3.5 Doubling My Money

A customer is considering to deposit her money into a savings account with one of the locally available banks. As of 5th March 2021, the interest rates offered are given in the following table:

<center>

|         Savings Account        | Yearly Interest rate (%) |
|:------------------------------:|:-----------------:|
| BOC SmartSaver                 |         1         |
| DBS Multiplier Account         |        0.4        |
| UOB One Account                |        0.5        |
| Standard Chartered Bonus$saver |        0.38       |
| OCBC 360 Account               |        0.55       |

</center>

Write a program that:
- Prints out a list that contains the number of years that is required for the money in savings account to double for each type of savings account.

Example output:

>```text
>With 1% yearly interest rate with BOC SmartSaver, it will take ___ years for the money to double.
>```

For each of the savings account, compare the number of years obtained in the earlier part with the number $\frac{72}{100r}$, where $r$ is the yearly interest rate. What do you observe? Can you explain your observation?

In [ ]:
def get_years_from_interest(interest):
  multiplier_ratio = 1
  year = 0
  while multiplier_ratio < 2:
    year += 1
    multiplier_ratio += multiplier_ratio * interest / 100
  return year
interest_rates = {"BOC SmartSaver": 1, "DBS Multiplier Account": 0.4, "UOB One Account": 0.5, "Standard Charted Bonus$saver": 0.38, "OCBC 360 Account": 0.55}
for saving_acc, interest in interest_rates.items():
  print(f"With {interest}% yearly interest with {saving_acc}, it will take {get_years_from_interest(interest)} years for the money to double")
  print(72/(100*interest))

With 1% yearly interest with BOC SmartSaver, it will take 70 years for the money to double
0.72
With 0.4% yearly interest with DBS Multiplier Account, it will take 174 years for the money to double
1.8
With 0.5% yearly interest with UOB One Account, it will take 139 years for the money to double
1.44
With 0.38% yearly interest with Standard Charted Bonus$saver, it will take 183 years for the money to double
1.894736842105263
With 0.55% yearly interest with OCBC 360 Account, it will take 127 years for the money to double
1.3090909090909089

## Exercise 3.6 Arithmetic Sequence Revisited

Recall from Exercise 1.2, an **arithmetic sequence** is a sequence of real numbers
$$u_1,u_2,\cdots, u_n$$
such that the difference between two consecutive terms is constant, i.e. $u_{n+1}-u_n=d$ for some constant $d\in \mathbb{R}$ and $d\neq 0$, called the **common difference** and $n\geq 1$.

The problem:
- Request a numeric input from the user to be used as the first term.  Let us denote this input as `first_term`.
- Request a numeric input from the user to be used as the common difference.  Let us denote this input as `common_difference`.
- Request an integer input greater or equal to $4$ from the user for the number of terms.  Let us denote this input as `number_of_terms`.
- Print out the list that contains the arithmetic sequence up to the $n$th term, where $n =$ `number_of_terms`.
- Print the list that contains the first 3 terms of the arithmetic sequence.
- Print the list that contains the last 4 terms of the arithmetic sequence.
- Use an inbuilt function that accepts list as an input to calculate the sum of the first $n$ terms of the arithmetic sequence.

Example interaction:

>```text
>Please input the first term in the arithmetic sequence:
>2
>Please input the common difference:
>3
>Please input the number of terms:
>5
>The list containing the first 5 terms of the arithmetic sequence are:
>[2, 5, 8, 11, 14]
>The list of the first 3 terms of the sequence is:
>[2, 5, 8]
>The list of the last 4 terms of the sequence is:
>[5, 8, 11, 14]
>The sum of all the terms in the sequence is:
>40
>```

In [ ]:
#man not this again
first_term, common_diff, no_of_terms = float(input("Please input the first term in the arithmetic sequence:\n")), float(input("Please input the common difference:\n")), int(input("Please input the number of terms:\n"))
list_yay = [(count * common_diff + first_term) for count in range(no_of_terms)]
print(f'The list containing the first {no_of_terms} terms of the arithmetic sequence is:\n{list_yay}\nThe list of the first 3 terms of the sequence is:\n{list_yay[:3]}\nThe list of the last 4 terms of the sequence is:\n{list_yay[-4:]}\nThe sum of all the terms in the sequence is:\n{sum(list_yay)}')

Please input the first term in the arithmetic sequence:
234
Please input the common difference:
-23.4
Please input the number of terms:
12
The list containing the first 12 terms of the arithmetic sequence is:
[234.0, 210.6, 187.2, 163.8, 140.4, 117.0, 93.60000000000002, 70.20000000000002, 46.80000000000001, 23.400000000000006, 0.0, -23.399999999999977]
The list of the first 3 terms of the sequence is:
[234.0, 210.6, 187.2]
The list of the last 4 terms of the sequence is:
[46.80000000000001, 23.400000000000006, 0.0, -23.399999999999977]
The sum of all the terms in the sequence is:
1263.6

## Exercise 3.7 Value Swapping

Write a program that:
- Ask user to input 3 integer values, `x`, `y` and `z` one by one.
- Print out `x`, `y` and `z` value before swapping
- Write an one-line statement to swap values so that `x` will hold value of `y`, `y` will hold value of `z`, and `z` will hold value of x after running the statement.
- Print out `x`, `y` and `z` value after swapping.

Example interaction:

>```text
>Enter the value for x: 10
>Enter the value for y: 20
>Enter the value for z: 30
>Before swapping, x = 10, y = 20, z = 30
>After swapping, x = 20, y = 30, z = 10
>```

In [ ]:
x, y, z = input("Enter the value for x: "), input("Enter the value for y: "), input("Enter the value for z: ")
print(f"Before swapping, x = {x}, y = {y}, z = {z}")
x, y, z = y, z, x
print(f"After swapping, x = {x}, y = {y}, z = {z}")

Enter the value for x: 4
Enter the value for y:
Enter the value for z: 6
Before swapping, x = 4, y = , z = 6
After swapping, x = , y = 6, z = 4

## Exercise 3.8 Dots in a Square

In Python, we can generate random values between -1 and 1 by:

- importing the `random` module, and then
- using `random.uniform(-1,1)` method.

Write a program that:

0. set `n` to be 100
1. creates a list called `coordinates` which contain `n` tuples with 2 elements each where each element in the tuple is a randomly generated real number between -1 and 1 inclusive, i.e. each element in `coordinates` is of the following form `(element_1,element_2)`. This list represents 100 random points in the cartesian plane ($xy$-plane) where the $x$-coordinates and $y$-coordinates are between -1 and 1 inclusive.
2. print out the number of the generated random points (i.e., elements in `coordinates`) that has a distance of at most 1 unit away from the origin $O$. Recall that the distance $d$ from origin to a point $\left(x,y\right)$ is $d=\sqrt{x^2+y^2}$. You can use the method `math.sqrt(your_number)` to find the square root of a number.
3. print out also `frac`, the fraction of the number of such points out of $n$ points.
4. print out `frac*4`.
5. repeat steps 1-5 above with `n` set to be 1000, 10000, 100000.

What can you observe about the values of `frac*4` as the `n` increases?

Example interaction:

>```text
>#Assume collection = [(1, 0.7), (0.5, 0.5), (-1, -1)]
>Number of points that has a distance of at most 1 unit away from the origin: 1
>Fraction of such numbers : 0.3333333
>4*frac : 1.333333332
>```

In [27]:
import random
import math

n = 1000000
coordinates = [(random.uniform(-1, 1), random.uniform(-1, 1)) for i in range(n)]
points_less_than_1 = [(x, y) for x, y in coordinates if math.sqrt(x ** 2 + y ** 2) <= 1]
print(len(points_less_than_1) / len(coordinates) * 4)
 
# (formula is finding probability point is in area of circle radius 1 where all points in area of square length 2) * 4
# = area of circle radius 1 / area of square length 2 * 4
# = pi(1)^2 / 2^2 * 4
# = pi

# hence approximates to pi

3.142132

## Exercise 3.9 3D Vector Operations

In mathematics, a real valued 3-dimensional vector is a collection of 3 values $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)$, where $a_1,a_2,a_3 \in \mathbb{R}$.

Binary operation between vectors differs from operation between numbers and some of such operations are defined as such:
- addition $+$, which operates between 2 vectors and returns a vector, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)+\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=\left(\begin{array}{c}
a_{1}+b_{1}\\
a_{2}+b_{2}\\
a_{3}+b_{3}
\end{array}\right)$,
- dot product $\cdot$, which operates between 2 vector and returns a real number, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)\cdot\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=a_{1}b_{1}+a_{2}b_{2}+a_{3}b_{3}$,
- cross product $\times$, which operates between 2 vectors and returns yet another vector, $\left(\begin{array}{c}
a_{1}\\
a_{2}\\
a_{3}
\end{array}\right)\times\left(\begin{array}{c}
b_{1}\\
b_{2}\\
b_{3}
\end{array}\right)=\left(\begin{array}{c}
a_{2}b_{3}-a_{3}b_{2}\\
-\left(a_{1}b_{3}-a_{3}b_{1}\right)\\
a_{1}b_{2}-a_{2}b_{1}
\end{array}\right)$.

Write a program that:
- Ask user to input 6 float values `x1`, `y1`, `z1`, `x2`, `y2`, `z2`
- Stores the 6 values above in a list called `vectors` that contained the tuples `(x1,y1,z1)` and `(x2,y2,z2)`. We will use each of these tuples to represent a 3-dimensional vector.
- Print out the list `vectors`.
- Implement the 3 vector operations defined above and print out the result. Refer to the example interaction below for the format.

Example interaction:

>```text
>Enter the value for x1: 1
>Enter the value for y1: 2
>Enter the value for z1: 3
>Enter the value for x2: 4
>Enter the value for y2: 5
>Enter the value for z2: 6
>vectors : [(1, 2, 3), (4, 5, 6)]
>addition : (1, 2, 3) + (4, 5, 6) = (5, 7, 9)
>dot product : (1, 2, 3) . (4, 5, 6) = 32
>cross product : (1, 2, 3) x (4, 5, 6) = (-3, 6, -3)
>```

In [9]:
x1, y1, z1, x2, y2, z2 = float(input("x1: ")), float(input("y1: ")), float(input("z1: ")), float(input("x2: ")), float(input("y2: ")), float(input("z2: "))
print(vectors := [(x1, y1, z1), (x2, y2, z2)])
#walrus not in 3.7 :(
print("vectors: ", vectors)
print("addition: ", vectors[0], "+", vectors[1], " = ", (vectors[0][0]+vectors[1][0], vectors[0][1]+vectors[1][1], vectors[0][2]+vectors[1][2]))
print("dot product: ", vectors[0], "⋅", vectors[1], " = ", (vectors[0][0]*vectors[1][0] + vectors[0][1]*vectors[1][1] + vectors[0][2]*vectors[1][2]))
cross_product = (vectors[0][1]*vectors[1][2]-vectors[0][2]*vectors[1][1],vectors[0][2]*vectors[1][0]-vectors[1][2]*vectors[0][0],vectors[0][0]*vectors[1][1]-vectors[0][1]*vectors[1][0])
print(f"cross product: {vectors[0]}×{vectors[1]} = {cross_product}")

x1: 1
y1: 2
z1: 3
x2: 4
y2: 5
z2: 6
[(1.0, 2.0, 3.0), (4.0, 5.0, 6.0)]
vectors:  [(1.0, 2.0, 3.0), (4.0, 5.0, 6.0)]
addition:  (1.0, 2.0, 3.0) + (4.0, 5.0, 6.0)  =  (5.0, 7.0, 9.0)
dot product:  (1.0, 2.0, 3.0) ⋅ (4.0, 5.0, 6.0)  =  32.0
cross product: (1.0, 2.0, 3.0)×(4.0, 5.0, 6.0) = (-3.0, 6.0, -3.0)